<div class="container">
  <page-header title="Jobs">
  </page-header>

  <div class="bg-white tiled">
    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th class="sortable-column" ng-click="$ctrl.alerts.orderBy('name')">Name <sort-icon column="'name'" sort-column="$ctrl.alerts.orderByField" reverse="$ctrl.alerts.orderByReverse">
        </sort-icon>
        </th>
        <th class="sortable-column" ng-click="$ctrl.alerts.orderBy('created_by')">Created By <sort-icon column="'created_by'" sort-column="$ctrl.alerts.orderByField" reverse="$ctrl.alerts.orderByReverse"></sort-icon></th>
        <th>Created at</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="row in $ctrl.periodicjobs.getPageRows()">
        <td><a href="periodicjobs/{{row.id}}">{{row.name}}</a></td>
        <td>{{row.user}}</td>
        <td><span am-time-ago="row.created_at">{{row.created_at}}</span></td>
        <td>
          <span class="{{row.class}}">{{ row.status | uppercase}}</span>
        </td>
      </tr>
      </tbody>
    </table>
    <paginator paginator="$ctrl.alerts"></paginator>
  </div>
</div>
